/* =========================================
   Battle CSS - Index
   =========================================
   Aggregates all battle-related CSS modules.
   Import this single file in BattleScreen component.
   ========================================= */

/* Core */
@import "../../core/variables.css";
@import "../../animations/keyframes.css";

/* Card system */
@import "../../others/CardUnified.css";

/* Battle modules */
@import "./battle-layout.css";
@import "./battle-status.css";
@import "./battle-hand.css";
@import "./battle-enemy.css";
@import "./battle-sword-energy.css";
@import "./battle-modals.css";
